@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("NEW MOVIE", "MovieForm",null,new {@class="btn btn-primary"})
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>

        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
        </tr>

    </thead>

    <tbody>
        @foreach (var movies in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@movies.Name, "Edit", "Movies", new { id = movies.Id }, null)
                </td>
                <td>
                    @movies.Genre.GenreType
                </td>
            </tr>

        }

    </tbody>

</table>

